h1 {
  font-size: 4rem;
}

.sup-cl {
  font-size: 1.5rem;
}

.today-icon {
  font-size: 2rem;
}

.cel-degree {
  color: #2d2d2d;
}
.far-degree {
  color: #808080;
}

.active {
  color: #2d2d2d;
  text-decoration: none;
}

.deactive {
  color: #808080;
}

.cel-degree:hover,
.far-degree:hover {
  cursor: pointer;
  text-decoration: underline;
}

.week-day,
.min-degree,
.max-degree {
  font-size: 14px;
}
